[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-image = "*"
pyyaml = "*"
torch = "*"
pandas = "*"
opencv-python-headless = "*"

[dev-packages]

[requires]
python_version = "3.9"
