[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
scikit-image = "*"
spyder-kernels = "==2.2.*"
pyyaml = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.9"
