[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
scikit-image = "*"
pyyaml = "*"
onedrivesdk = "~=1.1"
requests-oauthlib = "*"
oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
